body {
	background-image: url(../images/round.png);
	background-repeat: repeat;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer {
	height: 60px;
	background-color: #4aaaa5;
	color: white;
	background: #666666;
	color: #b7b7b7;
	height:100px;
	border-top: solid 8px #4aaaa5;
}


.navbar a.navbar-brand {
	background-color: #4aaaa5;
	color:white;
}

.photo {
	position: relative;
	margin: 0 auto;
	display: table;
}

.photo-label{
	position: absolute;
	color: white;
	bottom:30px;
	background:#4aaaa5;
	text-align: center;
	width:90%;
	padding:15px 0 15px 0;
	margin-left:5px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

img.tbd {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
img.tbd:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

.img .thumbnail img {
	opacity: 1;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}
.img .thumbnail img:hover {
	  opacity:0.6;
}

.clearfix { display: inline-block; }

.navbar-fixed-bottom {
	width: 100%;
	border-radius: 0;
	height:auto;
	border-top: solid gray 1px;
	padding-top:15px;
}